body{
    background-image: url('images/heartbg.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  font-family: "Sevillana", cursive;
  font-weight: 400;
  font-style: normal;
  color: cornflowerblue;
  font-size: large;


}
h1{
    text-align: center;
}

table{
    width: 50%;
    margin: auto;
}
td{
    padding: 10px;
}
.c{
    text-align: center;
}
label{
    text-align: right;
}
button{
    background-color: cornflowerblue;
    color: pink;
}