body{
    background-image: url('images/heartbg.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  font-family: "Sevillana", cursive;
  font-weight: 400;
  font-style: normal;
  color: cornflowerblue;
  font-size: large;


}
h1{
    text-align: center;
}

table{
    width: 50%;
    margin: auto;
}
td{
    padding: 10px;
}
.c{
    text-align: center;
}
label{
    text-align: right;
    font-size: 25px;
}
button{
    background-color: cornflowerblue;
    color: purple;
    width: 20%;
    height: 8%;
    font-size: 30px;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
    font-family: "Sevillana", cursive;
}
input{
    width: 300px;
    height: 40px;
    background-color:bisque;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    color: purple;
    font-family: "Sevillana", cursive;

}
#ans{
    font-size: 30px;
    font-weight: bolder;
    font-family: "Sevillana", cursive;
    background-color: cornflowerblue;
    color: purple;
    border-radius: 10px;
}
.error{
    color: red;
    font-weight: 500;
    background-color:black;
    border-radius: 5px;
}
.space{
    padding: 5px;
}